/* jquery select (include multiple) 
 * ================================ */
.vselect{
	width:200px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	border:1px solid #bbb;
	font-size:14px;
	margin:0;
	height:26px;
	line-height:26px;
    padding:0 6px 0 8px;
	background:#fff;
    cursor:pointer;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;	
	text-decoration:none;
	vertical-align:middle;
}
.vselect ul,.vselect li,
.vselect-panel ul,.vselect-panel li{
	padding:0;
	margin:0;
	list-style:none;
}
.vselect em{
	font-style:normal;
	float:left;
	color:#333;
	white-space:nowrap;
}
.vselect i{
	font-style:normal;
	float:right;
	color:#515151;
	font-size:12px;
}
.vselect:hover{
	text-decoration:none;
	border-color:#909090;
}
.vselect:active{
	border-color:#5c5c5c;
}
.vselect-panel{
	width:200px;
	background:white;
	border:1px solid #5c5c5c;
	position:absolute;
	top:0;
	left:0;
	z-index:999999;
}
.vselect-shadow{
	background:#000;
	position:absolute;
	top:0;
	left:0;
	z-index:999996;
	opacity:0.3;
	-webkit-opacity:0.3;
	-moz-opacity:0.3;
	-ms-opacity:0.3;
	-o-opacity:0.3;
	filter:alpha(opacity=30);
}
.vselect-panel li{
	float:left;
	width:100%;
	height:26px;
	overflow-y:hidden;
}
.vselect-panel li a,.vselect-link-on{
	height:26px;
	line-height:26px;
	padding:0 6px 0 8px;
	display:block;
	color:#333;
	text-decoration:none;
}
.vselect-panel li a:hover{
	background:#ddd;
	text-decoration:none;
}
.vselect-panel li a.vselect-link-on,
.vselect-link-on{
	background:#d25f1a;
	color:#fff;
}
.vselect-panel li a.vselect-link-on:hover,
.vselect-link-on:hover{
	background:#e2793a;
	color:#fff;
	text-decoration:none;
}
.vselect-panel-tab{
	width:100%;
	height:auto;
	background:#f1f2f1;
	line-height:30px;
	border-bottom:1px solid #ababab;
	/* don't use nowrap! */
}
.vselect-panel-tab em{
	width:auto;
	display:inline-block;
	*display:inline;
	*zoom:1;
	font-size:15px;
	font-style:normal;
	line-height:30px;
	padding:0 10px;
	color:#222;
	cursor:pointer;
}
.vselect-panel-tab span.vselect-panel-tab-hover,
.vselect-panel-tab-hover{
	background:#dedfde;
	color:#000;
}
.vselect-panel-tab span.vselect-panel-tab-on,
.vselect-panel-tab-on{
/*	background:#7bceff;*/
	background:#c2d6f3;
	color:#000;
}
